<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <h1>{{year}} Balance</h1>
    <p>For: {{userId}}</p>

  <div class="details">
    <div id="charts">
      <canvas id="pieChart" style="width:100%;max-width:600px"></canvas>
      <canvas id="lineChart" style="width:100%;max-width:600px"></canvas>
    </div>
    <div id="info">
      <p>Total Income: {{totalIncome}}</p>
      <p>Total Fixed Expenses: {{totalFixedExpenses}}</p>
      <p>Total Variable Expenses: {{totalVariableExpenses}}</p>
      <h3>Cost Breakdown by Category</h3>
      <ul>
        {{#each breakdown }}
          <li>{{@key}}: {{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}

<script>
  const data = {{{ totalSpentPerCategory }}}
  const barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145"
  ];

  new Chart("pieChart", {
    type: "pie",
    data: {
      labels: Object.keys(data),
      datasets: [{
        backgroundColor: barColors,
        data: Object.values(data)
      }]
    },
    options: {
      title: {
        display: true,
        text: "Breakdown"
      }
    }
  });

  const monthList = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  const yValues = [7,8,8,9,9,9,10,11, ,14,14,15];

  new Chart("lineChart", {
    type: "line",
    data: {
      labels: monthList,
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      scales: {
        yAxes: [{ticks: 
          {min: 6,
          max:16
          }
        }]
      }
    }
  });

</script>
</body>
</html>